/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
   
   
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   
   /* ---- fonts ---- */
   @font-face {
    font-family: Montserrat; 
    src: url(https://fonts.googleapis.com/css?family=Montserrat);
  }
 
   /* @group Blink */
  .blink {
  	-webkit-animation: blink .75s linear infinite;
	  -moz-animation: blink .75s linear infinite;
  	-ms-animation: blink .75s linear infinite;
  	-o-animation: blink .75s linear infinite;
     animation: blink .75s linear infinite;
    display: inline-block;
  }
  @-webkit-keyframes blink {
  	0% { opacity: 1; }
  	50% { opacity: 1; }
  	50.01% { opacity: 0; }
  	100% { opacity: 0; }
  }
  @-moz-keyframes blink {
  	0% { opacity: 1; }
  	50% { opacity: 1; }
  	50.01% { opacity: 0; }
  	100% { opacity: 0; }
  }
  @-ms-keyframes blink {
  	0% { opacity: 1; }
  	50% { opacity: 1; }
  	50.01% { opacity: 0; }
  	100% { opacity: 0; }
  }
  @-o-keyframes blink {
	  0% { opacity: 1; }
	  50% { opacity: 1; }
	  50.01% { opacity: 0; }
	  100% { opacity: 0; }
  }
  @keyframes blink {
  	0% { opacity: 1; }
  	50% { opacity: 1; }
	  50.01% { opacity: 0; }
  	100% { opacity: 0; }
  }
  /* @end */

   /* ---- base ---- */
   
   html,body{ 
     width:100%;
     height:100%;
     background:#111;
   }
   
   html{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   body{
     font:normal 75% Arial, Helvetica, sans-serif;
   }
   
   canvas{
     display:block;
   }
   
   .wrapper{
     background: rgba(35, 39, 65, 0);
     position: absolute;
     top: 300px;
     left: 200px;
     width: 1000px;
     height: 600px;
     color: #ffffff;
     font-size: 50px;
     text-align: left;
     text-indent: 4px;
     line-height: 14px;
     padding-bottom: 2px;
     font-family: 'Montserrat';
     font-weight: normal;
   }

   .subtitle{
     font-size: 25px;
   }

   .btn_discord{
    background: #668ad8;/*ButtonColor*/
    border-bottom: solid 4px #627295;
   }

   .btn_store{
    background: #4ebeab;/*ButtonColor*/
    border-bottom: solid 4px #359671;
   }

   .square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FFF;
    border-radius: 3px;
    font-size: 25px;
}
.square_btn:active {/*OnClick*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*Move down*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*Reduce Shadow*/
    border-bottom: none;
}
   
   /* ---- particles.js container ---- */
   
   #particles-js{
     width: 100%;
     height: 100%;
     top:0px;
     left:0px;
     z-index:1000;
     background-color: #101011;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
   }
   